@import "tailwindcss";

@theme {
  /* teal-100 */
  --color-light:#F5FFFD;
  /* teal-300 */
  --color-primary: #7FE2D8; 
  /* teal-400 */
  --color-hover: #50C8BC;
  /* teal-600 */
  --color-dark: #0F766E;
  /* white */
  --color-background: #FDFDFD; 
  /* gray-200 */
  --color-section: #E5E7EB;
  /* stone-800 */
  --color-heading: #46352F;
  /* stone-500 */
  --color-text: #8C7C75;
}
body {
  font-family: "Montserrat", sans-serif;
}

